<!doctype html>
<html ng-app="app" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,‌​100italic,300,300ita‌​lic,400italic,500,50‌​0italic,700,700itali‌​c,900italic,900' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div class="layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <img src="assets/logo.svg" class="logo">
      <span class="mdl-layout-title">Zrakomlat d.o.o.</span>

      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <revenue></revenue>
        <a class="mdl-button mdl-js-button" href="/">home</a>
      </nav>
    </div>
  </header>
  <ui-view></ui-view> 
  </div>
    
  </body>
</html>