@import 'flexMixins';

$primary-color: #702963;

body {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    //a combination 
}
.hide-below-340px{
    @media(max-width: 340px){
        display: none;
    }
}
//HEADER
.header {
    overflow:hidden;
    &.mdl-layout__header {
        background-color: $primary-color;
        @media(max-width: 1024px){
        @include flex-box(row wrap);
        }
    }
    .mdl-button {
        color: white;
        line-height: 36px;
    }
    .mdl-layout-title {
        @media(max-width: 500px) {
            display: none;
        }
    }
    .mdl-layout__header-row {
        @include flex-box(row wrap);
        @include align-items(center);
        @include justify-content(space-between);
        width: 100%;
        p {
            margin: 0;
        }
        @media(max-width: 615px) {
            padding: 0 16px 0 20px;
        }
    }
}

.logo {
    width: 50px;
    margin-right: 10px;
    padding: 3px;
    border-radius: 50%;
    background-color: white;
}

//HELICOPTER LIST BODY
.page-title-main{
    font-size: 3.4em;
    margin: 50px 10px 0 10px;
    @media (max-width: 600px) {
        margin-left: 5px;
    }
}
.wrapper {
    @include flex-box(row wrap);
    //some browsers do not support space-evenly
    @include justify-content(flex-start);
    @media(min-width: 600px) {
        max-width: 1536px;
        width: 80%;
        margin: 0 auto 0 auto;
    }
    @media(max-width: 950px) {
        @include justify-content(center);
    }
}
.sub-wrapper {
    @include flex-box(row wrap);
    //some browsers do not support space-evenly
    @include justify-content(space-evenly);
    @include justify-content(space-between);
    width: 100%;
    @media(max-width: 950px){
        @include justify-content(center);
    }
}

.mdl-card {
    width: 360px;
    margin: 10px 10px 25px 10px;
    @media (max-width: 600px) {
        width: 310px;
        margin: 15px 5px 10px 5px;
    }
    .mdl-card__title {
        height: 216px;
        padding: 0px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; 
        .mdl-card__title-text {
            color: white;
            background-color: $primary-color;
            padding: 5px;
            font-weight: 400;
        }
    }
    .mdl-card__supporting-text {
        h5 {
            margin-bottom: 2px;
            margin-top: 10px;
        }
    }
}

.position-card {
    width: 360px;
    margin: 10px 10px 25px 10px;
    height: 1px;
    @media (max-width: 600px) {
        width: 310px;
        margin: 15px 5px 10px 5px;
    }
}

dashboard { 
    width: 100%;
    .dashboard {
        @include flex-box(row wrap);
        @include align-items(center);
        @include justify-content(space-between);
        @media  only screen and (max-width: 1050px) and (min-width: 450px){
            @include justify-content(center);  
        }
        @media (max-width: 600px){
            margin: 0;
            border: none;
            border-bottom: $primary-color 3px solid;
        }
        border: $primary-color 3px solid;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
        margin: -2px 5px 0px 5px;
        h5 { 
            margin: 10px 20px 10px 20px;
            @media (max-width: 490px) {
                font-size: 15px;
                letter-spacing: 0em;
            }
            .avoid-wrap {
                display:inline-block;
            }
        }
    }
}
//HELICOPTER DETAILS

.wrapper-helicopter-details {
    @include flex-box(row wrap);
    //some browsers do not support space-evenly
    @include justify-content(center);
    @include align-items(center);
    @media(min-width: 600px) {
        width: 80%;
        max-width: 1536px;
        margin: 50px auto 0 auto;
    }
    .mdl-card {
        &.mdl-card-detailed {
            width: 750px;
            @media(max-width: 950px){
                width: 500px;
            }
            @media(max-width: 520px){
                width: 310px;
            }

            .mdl-card__title {
                background-size: contain;
                height: 450px;
                @media(max-width: 950px){
                    height: 300px;
                }
                @media(max-width: 520px){
                    height: 216px;
                }
            }
            .mdl-card__actions {
                padding-left: 16px;
                @media(max-width: 520px) {
                    padding-left: 8px;
                }
                ol {
                    @media(max-width: 950px) {
                        padding-left: 0px;
                    }
                }
                .order-history {
                    @include flex-box(row wrap);
                    @include justify-content(flex-start);
                    padding-left: 8px;
                   .order-details {
                        margin-bottom: 10px
                    }
                    .material-icons {
                        cursor: pointer;
                        &:active {
                            background-color: rgb (204, 0, 0);
                        }
                    }
                    .order-history-grid {
                        @include flex-box(row wrap);
                        @include align-items(center);
                        @include justify-content(space-evenly);
                        @include justify-content(space-between);
                        width: 35%;
                        &:first-child {
                            width: 20%;
                        }
                        &:nth-child(4) {
                            color: #cc0000;
                            width: 10%;
                        }
                        @media(max-width: 950px) {
                            font-size: 0.8em;
                        }
                    }
                }
            }

            .wrapper-detailed {
                @include flex-box(row wrap);
                @include justify-content(flex-start);
                @include justify-content(space-between);
                @include align-items(flex-end);
                h4 {
                    margin: 0px;
                }
            }
            .mdl-button {
                background-color: $primary-color;
                color: white;
            }
        }
        #graph {
            height: 400px;
        }
    }
    .rent-helicopter-background {
        @include flex-box(column wrap);
        @include justify-content(center)
        @include align-items(center);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.54);
        transform: translate3d(0, 0, 0);
        transition: all 0.5s cubic-bezier(0.35, 0, 0.25, 1);
        .rent-helicoper-card {
            position: relative;
            z-index: 1000;
            left: 0;
        }
        .card-top {
            @include flex-box(row wrap);
            @include justify-content(space-between)
            @include align-items(center);
            i {
                cursor: pointer;
            }
        }
        .rent-btn {
            margin-top: 40px;
        }
        .mdl-textfield__error {
            visibility: visible;
            margin: 5px 0 5px 0;
        }


        /*Disable MDL validation styles, source https://codepen.io/alisterlf/pen/ZGgJQB*/
        .mdl-textfield.is-invalid .mdl-textfield__input {
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }

        .mdl-textfield--floating-label {
            &.is-invalid .mdl-textfield__label {
                color: rgba(0, 0, 0, 0.26);
            }
            &.is-focused .mdl-textfield__label, &.is-dirty .mdl-textfield__label {
                color: rgb(63, 81, 181);
            }
        }

        .mdl-textfield.is-invalid .mdl-textfield__label:after {
            background-color: rgb(63, 81, 181);
        }
        /*New validation styles, same source as above*/
        .ng-invalid {
            &.ng-invalid.ng-touched {
                border-color: rgb(222, 50, 38);
                box-shadow: none;
                + label {
                    color: rgb(222, 50, 38);
                    font-size: 12px;
                    &:after {
                    background-color: rgb(222, 50, 38);
                    }
                }
                ~ .mdl-tooltip--validation {
                    background-color: rgb(222, 50, 38);
                }
                &.ng-dirty:focus {
                    border-color: rgb(255, 193, 7);
                    box-shadow: none;
                    + label {
                        color: rgb(255, 193, 7);
                        font-size: 12px;
                        &:after {
                            background-color: rgb(255, 193, 7);
                        }
                    }
                    ~ .mdl-tooltip--validation {
                        background-color: rgb(255, 193, 7);
                    }
                }
            }
            &.ng-touched:not(:focus) + label::before {
                font-family: 'Material Icons';
                font-weight: normal;
                font-style: normal;
                font-size: 24px;
                /* Preferred icon size */
                display: inline-block;
                width: 1em;
                height: 1em;
                line-height: 1;
                text-transform: none;
                letter-spacing: normal;
                word-wrap: normal;
                /* Support for all WebKit browsers. */
                -webkit-font-smoothing: antialiased;
                /* Support for Safari and Chrome. */
                text-rendering: optimizeLegibility;
                /* Support for Firefox. */
                -moz-osx-font-smoothing: grayscale;
                /* Support for IE. */
                font-feature-settings: 'liga';
                content: "warning";
                position: absolute;
                right: 0;
                bottom: 20px;
            }
        }
        .ng-valid.ng-touched:not(:focus) + label::before {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            /* Preferred icon size */
            display: inline-block;
            width: 1em;
            height: 1em;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            /* Support for all WebKit browsers. */
            -webkit-font-smoothing: antialiased;
            /* Support for Safari and Chrome. */
            text-rendering: optimizeLegibility;
            /* Support for Firefox. */
            -moz-osx-font-smoothing: grayscale;
            /* Support for IE. */
            font-feature-settings: 'liga';
            content: "done";
            position: absolute;
            right: 0;
            bottom: 20px;
        }
    }    
}