@import 'flexMixins';

$primary-color: #702963;

body {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

//HEADER
.header {
    overflow:hidden;
    &.mdl-layout__header {
     background-color: $primary-color;
    }
    .mdl-button {
        color: white;
        line-height: 36px;
    }
}

.logo {
    width: 50px;
    margin: 10px;
    padding: 3px;
    border-radius: 50%;
    background-color: white;
}

//HELICOPTER LIST BODY
.page-title-main{
    font-size: 3.4em;
    margin: 50px 10px 0 10px;
    @media (max-width: 600px) {
        margin-left: 5px;
    }
}
.wrapper {
    @include flex-box(row wrap);
    //some browsers do not support space-evenly
    @include justify-content(flex-start);
    @media(min-width: 600px) {
        max-width: 1536px;
        width: 80%;
        margin: 50px auto 0 auto;
    }
    @media(max-width: 950px) {
        @include justify-content(center);
    }
}
.sub-wrapper {
    @include flex-box(row wrap);
    //some browsers do not support space-evenly
    @include justify-content(space-evenly);
    @include justify-content(space-between);
    width: 100%;
    @media(max-width: 950px){
        @include justify-content(center);
    }
}

.mdl-card {
    width: 360px;
    margin: 10px 10px 25px 10px;
    @media (max-width: 600px) {
        width: 310px;
        margin: 15px 5px 10px 5px;
    }
    .mdl-card__title {
        height: 216px;
        padding: 0px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; 
        .mdl-card__title-text {
            color: white;
            background-color: $primary-color;
            padding: 5px;
            font-weight: 400;
        }
    }
    .mdl-card__supporting-text {
        h5 {
            margin-bottom: 2px;
            margin-top: 10px;
        }
    }
}

.position-card {
    width: 360px;
    margin: 10px 10px 25px 10px;
    height: 1px;
    @media (max-width: 600px) {
        width: 310px;
        margin: 15px 5px 10px 5px;
    }
}
//HELICOPTER DETAILS

.wrapper-helicopter-details {
    @include flex-box(row wrap);
    //some browsers do not support space-evenly
    @include justify-content(center);
    @include align-items(center);
    @media(min-width: 600px) {
        width: 80%;
        max-width: 1536px;
        margin: 50px auto 0 auto;
    }
    .mdl-card{
        &.mdl-card-detailed {
            width: 750px;
            @media(max-width: 950px){
                width: 500px;
            }
            @media(max-width: 520px){
                width: 310px;
            }

            .mdl-card__title {
                background-size: contain;
                height: 450px;
                @media(max-width: 950px){
                    height: 300px;
                }
                @media(max-width: 520px){
                    height: 216px;
                }
            }
            .mdl-card__actions {
                padding-left: 16px;
                .order-history {
                   @include flex-box(row wrap);
                   @include justify-content(flex-start);
                   .order-details{
                        margin-right: 25px
                    }
                }
            }
            .wrapper-detailed {
                @include flex-box(row wrap);
                @include justify-content(flex-start);
                @include justify-content(space-between);
                @include align-items(flex-end);
                h4 {
                    margin: 0px;
                }
            }
            .mdl-button {
                background-color: $primary-color;
                color: white;
            }
        }
    }
    

}