

<div class="wrapper-helicopter-details">
    <div class="mdl-card mdl-card-detailed mdl-shadow--2dp" ng-if="helicopterDetailed.data != {}">
        <div class="mdl-card__title" style="background-image:url('./assets/{{helicopterDetailed.data.picture}}.jpg')">
            <span class="mdl-card__title-text">{{helicopterDetailed.data.name}}</span>
        </div>
        <div class="mdl-card__supporting-text">
        	<h5>Maximum number of passangers: {{helicopterDetailed.data.maxPassangers}} people</h5>
            <h5>Maximum Speed: {{helicopterDetailed.data.maxSpeed}} km/h</h5>       
            <h5>Payload: {{helicopterDetailed.data.lift}} metric tons</h5>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <h4>Usage History</h4>
            <p ng-if="helicopterDetailed.data.history.length == 0">Helicopter is yet to be rented</p>
            <ol>
                <li class="order-history" ng-repeat="order in helicopterDetailed.data.history track by $index">
                    <!--order[0] = revenue, order[1] unix time in seconds, order[2] = duration -->
                	<span class="order-details">Revenue: {{order[0]}}€</span> 
                	<span class="order-details">Date: {{order[1] * 1000 | date:'dd.MM.yyyy HH:mm:ss'}}</span> 
                	<span ng-if="order[2] != -1" class="order-details">Duration: {{order[2]}}s</span>
                	<span ng-if="order[2] == -1" class="order-details">Duration: Canceled</span>
                    <button class="mdl-button" ng-click="helicopterDetailed.cancelHelicopter($index)">Cancel</button>
                </li>
            </ol>
            <div class="wrapper-detailed">
                <h4>Total Revenue: <br> {{helicopterDetailed.totalRevenue}}€</h4>
                <a class="mdl-button mdl-js-button">Rent Helicopter</a>
            </div>
        </div>
    </div>
    <div class="rent-helicopter-background">
        <div class="rent-helicopter-card">
            <div class="mdl-card">
                <div class="mdl-card__supporting-text">
                <h5>Rent helicopter</h5>
                <form action="#" name="rent-helicopter">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" name="name" type="text" id="name">
                        <label class="mdl-textfield__label" for="name">Text...</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="number" id="rent-time">
                        <label class="mdl-textfield__label" for="rent-time">Number...</label>
                        <span class="mdl-textfield__error">Input is not a number!</span>
                    </div>
                    <button class="mdl-button mdl-js-button mdl-button--raised">
                      Get Estimate
                    </button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

