

<div class="wrapper-helicopter-details">
    <div class="mdl-card mdl-card-detailed mdl-shadow--2dp" ng-if="helicopterDetailed.data != {}">
        <div class="mdl-card__title" ng-class="{retired: helicopterDetailed.data.retired}" style="background-image:url('./assets/{{helicopterDetailed.data.picture}}.jpg')">
            <span class="mdl-card__title-text">{{helicopterDetailed.data.name}}</span>
            <span class="retired-tag" ng-if="helicopterDetailed.data.retired">THIS HELICOPTER IS RETIRED</span>
        </div>
        <div class="mdl-card__supporting-text">
        	<h5>Maximum number of passangers: {{helicopterDetailed.data.maxPassangers}} people</h5>
            <h5>Maximum Speed: {{helicopterDetailed.data.maxSpeed}} km/h</h5>       
            <h5>Payload: {{helicopterDetailed.data.lift}} metric tons</h5>
            <button class="mdl-button mdl-js-button retire-button" ng-click="helicopterDetailed.getRetireConformation = true" ng-disabled="helicopterDetailed.data.retired">Retire Helicopter</button>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <h4>Usage History</h4>
            <p ng-if="helicopterDetailed.data.history.length == 0">Helicopter is yet to be rented</p>
            <ol>
                <li class="order-history" ng-repeat="order in helicopterDetailed.data.history track by $index">
                	<span class="order-details order-history-grid">Revenue: {{order.revenue | currency:"€" :0}}</span> 
                	<span class="order-details order-history-grid">Date: {{order.start * 1000 | date:'dd.MM.yyyy HH:mm:ss'}}</span> 
                	<span ng-if="order.duration != -1" class="order-details order-history-grid">Duration: {{order.duration}}s</span>
                	<span ng-if="order.duration == -1" class="order-details order-history-grid">Flight canceled</span> 
                    <span class="order-history-grid order-details" ng-if="order.duration != -1 && !helicopterDetailed.data.retired"><i class="material-icons" ng-click="helicopterDetailed.cancelHelicopter($index); helicopterDetailed.stopScroll($event)">close</i></span>
                </li>
            </ol>
            <div class="wrapper-detailed" id="revenue">
                <h4>Total Revenue: <br> {{helicopterDetailed.totalRevenue}}€</h4>
                <button class="mdl-button mdl-js-button" ng-click="helicopterDetailed.checkIfYouCanRent()" ng-disabled="helicopterDetailed.data.retired">Rent Helicopter</button>
            </div>
            
        </div>
        <!-- <div id="graph"></div> -->
    </div>

    <!--Renting FORM -->
    <div class="rent-helicopter-background" ng-if="helicopterDetailed.getEstimateForm" ng-click="helicopterDetailed.endRentingOrRetiringProcess()">
        <div class="rentHelicopterCard" ng-click="helicopterDetailed.childClick($event)">
            <!-- first card -->
            <div class="mdl-card" ng-if="helicopterDetailed.estimate.total === 0">
                    <div class="mdl-card__supporting-text">
                        <div class="card-top">
                            <h5>Rent helicopter</h5>
                            <i class="material-icons" ng-click="helicopterDetailed.endRentingOrRetiringProcess()">close</i>
                        </div>
                <form action="#" name="rentHelicopter">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="name" name="name" ng-model="helicopterDetailed.name" required>
                        <label class="mdl-textfield__label" for="name" ng-show="!helicopterDetailed.name.length">Please insert name/company name</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="rentTime" name="rentTime" ng-keyup="helicopterDetailed.checkIfEmpty()" ng-model="helicopterDetailed.rentTime" pattern="^[\d]*$" required>
                        <label class="mdl-textfield__label" for="rentTime" ng-show="helicopterDetailed.isEmpty">Please insert rent duration (in secods)</label>
                        <span class="mdl-textfield__error" ng-show="rentHelicopter.rentTime.$touched && rentHelicopter.rentTime.$dirty && rentHelicopter.rentTime.$invalid">Input is not a whole number!</span>

                    </div>
                </form>
                     <button class="mdl-button mdl-js-button mdl-button--raised" ng-disabled="rentHelicopter.$invalid" ng-click="helicopterDetailed.getEstimate()">
                        Get Estimate
                    </button>
                </div>
            </div>
            <!-- second card -->
            <div class="mdl-card" ng-if="helicopterDetailed.estimate.total > 0">
                <div class="mdl-card__supporting-text">
                    <div class="card-top">
                        <h5>Estimates:</h5>
                        <i class="material-icons" ng-click="helicopterDetailed.getEstimateForm = false">close</i>
                    </div>
                    <div class="card-middle">
                            <h5>ESTIMATED TIME: {{helicopterDetailed.rentTime}} Seconds</h5>
                            <h5>ESTIMATED COST: {{helicopterDetailed.estimate.total}}€</h5>
                        <button class="mdl-button rent-btn mdl-js-button mdl-button--raised" ng-click="helicopterDetailed.rentHelicopter();">
                            Rent Helicopter
                        </button>
                        <button class="mdl-button rent-btn mdl-js-button mdl-button--raised" ng-click="helicopterDetailed.endRentingOrRetiringProcess()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--RETIRE CONFORMATION-->
    <div class="rent-helicopter-background" ng-if="helicopterDetailed.getRetireConformation" ng-click="helicopterDetailed.endRentingOrRetiringProcess()">
        <div class="mdl-card">
                <div class="mdl-card__supporting-text">
                    <div class="card-top">
                        <h5>Are your certain you want to retire the helicopter?</h5>
                    </div>
                    <div class="mdl-card__supporting-text">
                        WARNING: This will irreversibly retire the helicopter!    
                    </div>
                    <div class="card__actions">
                        <button class="mdl-button rent-btn mdl-js-button mdl-button--raised" ng-click="helicopterDetailed.retireHelicopter();">
                            Yes
                        </button>
                        <button class="mdl-button rent-btn mdl-js-button mdl-button--raised" ng-click="helicopterDetailed.endRentingOrRetiringProcess()">
                            No
                        </button>
                    </div>
                </div>
            </div>
    </div>
</div>
